 components/splide/js/splide-renderer.min.js
 components/splide/js/splide-renderer.min.js.map
 components/splide/js/splide.cjs.js
 components/splide/js/splide.esm.js
 components/splide/js/splide.js
 components/splide/js/splide.min.js.gz
 components/splide/js/splide.min.js.map
 components/splide/js/utils/splide-utils.cjs.js
 components/splide/js/utils/splide-utils.esm.js

