<div class="splide-sdc-demo">
  <h3>Minimal</h3>
  {% include 'splide_sdc:splide_sdc_demo_minimal'  with {}  only %}
  <h3>Thumbnails</h3>
  {% include 'splide_sdc:splide_sdc_demo_thumbnails'  with {}  only %}
</div>
